.movie-card-container {
    margin-left: 55px;
    margin-bottom: 38px;
    cursor: pointer;
}

.movie-info {
    margin: 0;
}
.movie-name {
    font-size: 18px;
    font-weight: 500;
    margin: 0;
}
 
.movie-genre {
    font-size: 14px;
    font-weight: 500;
    margin: 0;
}

.movie-year-container {
    border: 1px solid white;
    margin-left: auto;
    width: 66px;
    height: 26px;
    align-self: center;
    border-radius: 4px;
}
.movie-year {
    margin: 0;
    text-align: center;
}

.movie-info-container {
    display: flex;
    margin: 8px 0;
}