.movie-card-container {
    margin-left: 55px;
    margin-bottom: 38px;
    cursor: pointer;
}

.movie-info {
    margin: 0;
}
.movie-name {
    font-size: 18px;
    font-weight: 500;
    margin: 0;
}
 
.movie-genre {
    font-size: 14px;
    font-weight: 500;
    margin: 0;
}

.movie-year-container {
    border: 1px solid white;
    margin-left: auto;
    width: 66px;
    height: 26px;
    align-self: center;
    border-radius: 4px;
}
.movie-year {
    margin: 0;
    text-align: center;
}

.movie-info-container {
    display: flex;
    margin: 8px 0;
}

.movie-setting {
    position: absolute;
    margin-left: -50px;
    display: inline-flex;
    flex-direction: column;
    background-color: var(--black);
    color: var(--white);
    width: 36px;
    height: 36px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}
.movie-setting:hover {
    background-color: var(--red);
}
.movie-setting > img {
    margin: 0;
    width: 4px;
    height: 4px;
    background-color: var(--white);
    border-radius: 50%;
    margin: 1px 0;
    justify-content: center;   
}

.modal-container {
    position: absolute;
    height: 100px;
    width: 190px;
    display: flex;
    flex-direction: column;
    background-color: var(--black);
    justify-content: center;
}
.modal-container > button {
    height: 50%;
    background-color: var(--black);
    border: none;
    color: var(--white);
    cursor: pointer;
}

.modal-container > button:hover {
    background-color: var(--red);
}